$mainColor: #24221E;
$secondaryColor: #e1ddd5;
$complementaryColor: #868365;
$accentColor: #919c9D;
$accentColor2: #bc5454;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
$spacing: 2.5em; // For general spacing
$inset: 0.5em;   // For inset spacing (padding or margin)
