.cta {
  &__inline-text {
    font-weight: 900;
  }
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -0.1em;
    margin-bottom: -1em;
}

  p, a{
    line-height: 1.6em;
  }